@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


body {
    background-color: rgb(155,207,140);
    font-family: "Shadows Into Light", cursive;
    font-size: 150%;
}

links .image {
        
}

links ul li a {
    color: white;
    text-decoration: none;
}

links ul li a:hover {
    text-decoration: underline;
}
