

body {
    background-color: rgb(76,122,98);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.btn {
    background-color: rebeccapurple
}
